@font-face {
    font-family: "Pretendard-el";
    src: url("Pretendard-ExtraLight.ttf") format("truetype");
  }
@font-face {
    font-family: "Pretendard-SB";
    src: url("Pretendard-SemiBold.ttf") format("truetype");
  }
  *{
    user-select: none;
  }
body {
    text-align: center;
    transition: background-color 0.3s ease;
    background-color: var(--background);
    overflow: hidden;
  }
  :root[color-theme='light'] {
    --background: #fff;
    --timerColor: #F6F6F6;
    --musicColor: #dfdfdf;
    --displayColor:#414141;
    --inputColor: white;
    --borderColor: #D3D3D3;
  }
  :root[color-theme='dark'] {
    --background: #000;
    --timerColor: #191919;
    --displayColor:#C3C3C3;
    --inputColor: #282828;
    --borderColor: #292929;
    --musicColor: #202020;
  }  
  #title{
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 20px;
    transition: background-color 0.3s ease;
    background-color: var(--background);
    width: 90%;
    text-align: center;
    font-family: 'Pretendard-el';
  }
  #darkmode{
    position: absolute;
    top: 0px;
    right: 0px;
  }
  #nowtime{
    color: var(--displayColor);
    transition: color 0.3s ease;
    position: absolute;
    top: 0px;
    letter-spacing: 1px;
    left: 10px;
    font-family: 'Pretendard-el';
  }
  #nowtime p{
    position: relative;
    width: 300px;
    left: 0px;
    text-align: left;
  }
  #nowtime1{
    top: -15px;
  }
  #nowtime2{
    top: -30px;
  }
  
  #todolist-div {
    left: 50%;
    top: 45%;
    position: relative;
    background-color: #ebebeb;
    border-radius: 30px;
    overflow: auto;
    resize: both;
    width: 400px;
    min-width: 200px;
    min-height: 100px;
    height: 300px;
    padding: 20px;
    opacity: 0.8;
    transition: background-color 0.3s ease;
      overflow: hidden; /* 스크롤 바 숨기기 */
  }
  .todolist{
    transition: 0.3s ease;
  }
  #todolist-div h3{
    width: fit-content;
    position: relative;
    left: 10px;
    top: 10px;
    font-family: 'pretnedard-sb';
  }
.checklist-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.checklist-item input[type="checkbox"] {
    margin-right: 10px;
    font-family: 'Pretendard-el';
}
.checklist-item input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    font-size: inherit;
    color: #191919;
    font-family: 'Pretendard-el';
    filter: blur(0); /* 초기에 흐림 효과 없도록 설정 */
}
.checklist-item input[type="checkbox"]:checked + input[type="text"] {
    filter: blur(2px); /* 체크박스가 선택되었을 때 흐리게 만들기 */
}
.add-button{
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 5px;
  background-color: #dbdbdb;
  color: #535353;
  font-family: 'pretendard-el';
  text-align: center;
}
  #musicplayer{
    width: 390px;
    height: 130px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    background-color: var(--musicColor);
    opacity: 0.8;
    transition: background-color 0.3s ease;
    border-radius: 25px;
    transform: translate(-50%,0);
  }
  #musicplayer button{
    position: relative;
    top: 100px;
  }
  #youtubeLink{
    position: absolute;
    top: 90px;
    width: 200px;
    left: 150px;
    opacity: 0;
    transition: 0.3s ease;
    border-radius: 3px;
  }
#loadvideo{
    position: absolute;
    top: -100px;
    left: 100px;
  }
  #videotitle{
    position: absolute;
    top: 20px;
    right: 15px;
    width: 250px;
    font-size: 14px;
    font-family: 'Pretendard-el';
    color: var(--displayColor);
  }
  #videorange1{
    font-family: 'Pretendard-el';
    position: absolute;
    font-size: 10px;
    bottom: 8px;
    right: 240px;
    color: var(--displayColor);
  }
  #videorange2{
    font-family: 'Pretendard-el';
    position: absolute;
    font-size: 10px;
    bottom: 8px;
    left: 350px;
    color: var(--displayColor);
  }
  #slider{
    position: absolute;
    left: 155px;
    bottom: 20px;
  }
  .player{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 60px;
    left: 235px;
    transition: 0.4s ease;
  }
  #play{
    display: none;
  }
  #pause{
    display: block;
  }
  #todolistdragger{
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate(-50%,0);
    width: 50px;
    height: 9px;
    border-radius: 5px;
    background-color: var(--displayColor);
    transition: background-color 0.3s ease;

  }
  #musicdragger{
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate(-50%,0);
    width: 50px;
    height: 9px;
    border-radius: 5px;
    background-color: var(--displayColor);
  }
  #timerdragger{
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate(-50%,0);
    width: 50px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--displayColor);
  }
  #thumbnailImage{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 20px;
    border-radius: 10px;
    top: 50%;
    transform: translate(0,-50%);
    background-color: #ffffff;
    overflow: hidden; /* 넘치는 이미지를 숨기기 위해 */
    object-fit: cover; /* 이미지를 비율 유지하면서 container에 맞춥니다. */
  
    /* 이미지가 중앙에 정렬되도록 */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input[type="range"] {
    -webkit-appearance: none;
    width: 190px;
    height: 3px;
    background: #414141; /* 트랙의 배경을 투명하게 설정 */
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 190px;
    height: 3px;
    background: #414141; /* 슬라이더 전체 트랙의 배경색 */
    border-radius: 5px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #e5e5e5; /* 슬라이더 썸의 색상 */
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-top: -6px; /* 썸 위치 조정 */
  }
  input[type="text"]:lang(ko) {
    box-shadow: none;
  }
  #timer {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    margin-top: 50px;
    transition: background-color 0.3s ease;
    background-color: var(--timerColor);
    width: 600px;
    height: 390px;
    border-radius: 30px;
  }
  #fullsc{
    position: absolute;
    width: 30px;
    left: 10px;
    bottom: 10px;
    
  }
  button{
    border: none;
    font-family: 'Pretendard-el';
    opacity: 1;
    transition: opacity 0.3s;
  }
  input{
    border: none;
    opacity: 1;
    transition:opacity 0.3s;
    color: var(--displayColor);
  }
  input:focus {
    outline: none;
  }
  #hoursInput{
    position: absolute;
    top: 270px;
    left: 100px;
    background-color: var(--inputColor);
    transition: opacity 0.3s ease , background-color 0.3s ease;
    opacity: 1;
    }
  #minutesInput{
    position: absolute;
    top: 270px;
    background-color: var(--inputColor);
    transition: opacity 0.3s ease , background-color 0.3s ease;
    opacity: 1;
    left: 250px;
  }
  #secondsInput{
    position: absolute;
    top: 270px;
    background-color: var(--inputColor);
    transition: opacity 0.3s ease , background-color 0.3s ease;
    opacity: 1;
    left: 400px;
  }
  #start{
    position: absolute;
    width: 100px;
    text-align: center;
    bottom:40px;
    left: 140px;
    border-right: 0.5px solid var(--borderColor);
    background-color: var(--timerColor);
    color: var(--displayColor);
    transition: opacity 0.3s ease , background-color 0.3s ease , border-color 0.3s ease;
    opacity: 1;

  }
  #stop{
    position: absolute;
    bottom: 40px;
    width: 100px;
    text-align: center;
    left: 250px;
    border-right: 0.5px solid var(--borderColor);
    background-color: var(--timerColor);
    color: var(--displayColor);
    transition: opacity 0.3s ease , background-color 0.3s ease , border-color 0.3s ease;
    opacity: 1;
  }
  #reset{
    position: absolute;
    bottom: 40px;
    width: 100px;
    text-align: center;
    left: 360px;
    background-color: var(--timerColor);
    color: var(--displayColor);
    transition: opacity 0.3s ease , background-color 0.3s ease;
    opacity: 1;
  }
  #display{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%,0);
    width: auto;
    font-family: 'Pretendard-SB';
    font-size: 70px;
    color: var(--displayColor);
    transition:top 0.3s;
  }
/* 현재 시간 */
#nowtime{
  width: 100px;
  height: 100px;
}

/* 새로운 CSS 스타일을 추가하여 숫자가 깜빡거리도록 설정합니다. */
@keyframes blink {
    0% {
      color: inherit;
    }
    50% {
      color: transparent;
    }
    100% {
      color: inherit;
    }
  }
  
  .blink {
    animation: blink 1s infinite;
  }
    
